.dropdown {
  position: relative;
  align-self: flex-start;
}
.dropdown__header {
  display: flex;
  width: var(--dropdown-width);
  border: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  padding: var(--spacing-3) var(--spacing-5);
}
.dropdown-header-title {
  display: flex;
  align-items: center;
  max-height: 22px;
  color: var(--dropdown-font-color);
  line-height: 1.57;
  font-size: 14px;
  margin-right: var(--spacing-5);
  font-weight: normal;
}
.dropdown-header-title img {
  max-height: 22px;
  margin-right: var(--spacing-3);
}
.dropdown__header-icon {
  margin-left: auto;
}
.dropdown__header-icon.active img {
  transform: rotate(-90deg);
}
.dropdown__header-icon img {
  height: 10px;
  transition: all 0.3s;
  transform: rotate(90deg);
}
.dropdown__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  width: calc(var(--dropdown-width) + var(--spacing-7));
  z-index: 1;
  box-shadow: var(--dropdown-list-shadow);
  background-color: var(--foreground-color);
  transition: max-height 0.7s ease-in-out;
}
.dropdown__list.active {
  visibility: visible;
  height: auto;
  max-height: 124px;
  opacity: 1;
  transition: max-height 0.7s, opacity 0.7s, visibility 2s ease-in-out;
}
.dropdown__list-item {
  display: flex;
  cursor: pointer;
  padding: var(--spacing-2);
  color: var(--dropdown-font-color);
  font-size: 14px;
  max-height: 22px;
  line-height: 22px;
  transition: all 0.3s;
  padding: var(--spacing-3) 0px var(--spacing-3) var(--spacing-5);
}
.dropdown__list-item img {
  max-height: 22px;
  margin-right: var(--spacing-3);
}
.dropdown__list-item:hover {
  background-color: var(--dropdown-item-color);
}
