.news-skeleton {
  min-width: 360px;
  border: solid 1px var(--border-color-light);
  border-radius: var(--card-border-radius);
  height: var(--card-height);
  background-color: var(--foreground-color);
  display: flex;
}
.news-skeleton__info {
  width: 100%;
  padding: var(--spacing-5);
}
.news-skeleton__line {
  width: 100%;
  height: 16px;
  display: block;
  margin-bottom: var(--spacing-5);
  background: var(--skeleton-gradient);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: loading 0.8s infinite;
}
@keyframes loading {
  to {
    background-position: 100% 0;
  }
}

.news-skeleton__fav {
  width: 68px;
  background-color: var(--favorite-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px var(--card-border-radius) var(--card-border-radius) 0px;
  padding: var(--spacing-5);
}
.rotate {
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
