.news-container {
  display: grid;
  width: calc(100% - var(--spacing-7));
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 550px), 1fr));
  grid-auto-rows: var(--card-height);
  row-gap: var(--spacing-5);
  column-gap: var(--spacing-8);
}
