.tabs {
  align-self: center;
  display: flex;
  align-items: center;
}
.tabs__option {
  border: solid 1px var(--tab-border-color);
  background-color: var(--background-color);
  font-weight: 500;
  width: var(--tab-option-width);
  border-radius: var(--tab-border-radius);
  height: 100%;
  padding: var(--spacing-1);
  display: flex;
  color: var(--foreground-color-dark);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.tabs__option:hover {
  opacity: 0.5;
}
.selected-left {
  border-color: var(--tab-selected-color) var(--tab-border-color)
    var(--tab-selected-color) var(--tab-selected-color);
  color: var(--tab-selected-color);
}
.selected-right {
  border-color: var(--tab-selected-color) var(--tab-selected-color)
    var(--tab-selected-color) var(--tab-border-color);
  color: var(--tab-selected-color);
}
