.news-card {
  min-width: 360px;
  border: solid 1px var(--border-color-light);
  border-radius: var(--card-border-radius);
  height: var(--card-height);
  background-color: var(--foreground-color);
  display: flex;
  cursor: pointer;
}
.news-card:hover > * {
  opacity: 0.4;
}
.news-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-5) var(--spacing-5) var(--spacing-5) var(--spacing-6);
}

.news-card__info span {
  font-weight: 500;
  color: var(--foreground-color-dark);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
}
.news-card__date {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-3);
}
.news-card__date span {
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  letter-spacing: normal;
}
.news-card__date img {
  height: 16px;
  margin-right: var(--spacing-3);
}
.news-card__fav {
  width: 68px;
  background-color: var(--favorite-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px var(--card-border-radius) var(--card-border-radius) 0px;
  padding: var(--spacing-5);
}
.news-card__fav img:hover {
  filter: drop-shadow(2px 4px 6px #000);
}
