.App {
  height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-image: linear-gradient(to-bottom, var(--header-gradient));
  box-shadow: var(--header-shadow);
}
.App-header h1 {
  color: var(--font-color-header);
  font-weight: normal;
  font-size: var(--header-font-size);
  font-family: Baskerville;
  padding-left: var(--spacing-5);
}
main {
  padding: var(--spacing-6) 0 var(--spacing-7) 0;
  display: flex;
  align-items: center;
  height: calc(100% - var(--header-height));
  flex-direction: column;
  width: 100%;
}
.main-content {
  width: 100%;
  max-width: 1440px; /*  Based again on bootstrap default breakpoints*/
  display: flex;
  flex-direction: column;
}
.main-content > div {
  padding: var(--spacing-6) var(--spacing-5) var(--spacing-7) var(--spacing-5);
}
.separator {
  height: 100px;
  background-color: var(--background-color);
  padding: 0;
}

.Pagination {
  align-items: flex-end;
  align-self: center;
}
