@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Design tokens considering mobile first */
:root {
  /* Spacing tokens */
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 12px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 64px;
  --spacing-11: 72px;

  --side-margin: 16px;
  --bottom-margin: 32px;
  --top-margin: 24px;
  --header-height: 72px;
  /* Color tokens */
  --background-color: #fcfcfc;
  --foreground-color: #ffffff;
  --header-gradient: #ececec -32%, #ffffff 124%;
  --header-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  --border-color: #979797;
  --border-color-dark: #2e2e2e;
  --border-color-light: #cdcdcd;
  --pagination-border-color: #d9d9d9;
  --font-color: #6b6b6b;
  --font-color-header: #3b3b3b;
  --font-color-date: #767676;
  --dropdown-font-color: #343434;
  --pagination-selected-background: #1890ff;
  --pagination-font-color: rgba(0, 0, 0, 0.65);
  --pagination-selected-font-color: #ffffff;
  --foreground-color-dark: #606060;
  --favorite-background-color: #f5f5f5;
  --skeleton-background-color: #d3d3d3;
  --skeleton-gradient: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    var(--skeleton-background-color);

  --header-font-size: 18px;
  /* Card tokens */
  --card-border-radius: 6px;
  --card-height: 90px;
  /* Dropdown tokens */
  --dropdown-background: var(var(--background-color));
  --dropdown-border: solid 1px var(--border-color-dark);
  --dropdown-border-radius: 4px;
  --dropdown-list-shadow: 0 2px 2px 0 #dad8d8;
  --dropdown-width: 240px;
  --dropdown-item-color: rgba(46, 46, 46, 0.2);
  /* Tabs tokens */
  --tab-border-radius: 2px;
  --tab-option-width: 98px;
  --tab-border-color: #d6d6d6;
  --tab-selected-color: #1797ff;
}
/* Media query for bigger screens */
/* Based on Bootstrap default breakpoints
  https://getbootstrap.com/docs/5.0/layout/breakpoints/
*/
@media only screen and (min-width: 768px) {
  :root {
    --side-margin: 32px;
    --bottom-margin: 64px;
    --top-margin: 48px;
    --header-height: 114px;

    --header-font-size: 28px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
